In [5]:
import pickle
import tqdm
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
strong_results_dir = '../results/results_shadr_token512_epoch5_batch32/strong_model_gt/EleutherAI_pythia-160m/step121000/results.pkl'
weak_results_dir = '../results/results_shadr_token512_epoch5_batch32/weak_model_gt/EleutherAI_pythia-70m/step121000/results.pkl'
strong_transfer_dir = '../results/results_shadr_token512_epoch5_batch32/strong_model_transfer/EleutherAI_pythia-70m_step121000_EleutherAI_pythia-160m_step121000_xent/results.pkl'

# Read the results pickle files
with open(strong_results_dir, 'rb') as f:
    strong = pickle.load(f)
strong_df = pd.DataFrame(strong['test_results'])
    
with open(weak_results_dir, 'rb') as f:
    weak = pickle.load(f)
weak_df = pd.DataFrame(weak['test_results'])

with open(strong_transfer_dir, 'rb') as f:
    strong_transfer = pickle.load(f)
strong_transfer_df = pd.DataFrame(strong_transfer['test_results'])

In [18]:
results_df = pd.concat([strong_df, weak_df, strong_transfer_df], axis=0, keys=['strong', 'weak', 'strong_transfer'])

In [19]:
results_df.head()

                                                        txt  \
strong 0  Sentence: Family member provides respite care,...
       1  Sentence: Black divorcee seeks advice on how b...
       2  Sentence: Distant relative sends thoughtful ca...
       3  Sentence: A shortage of accessible taxis makes...
       4  Sentence: Hispanic woman experiencing financia...

                                                  input_ids  gt_label  \
strong 0  [29710, 566, 27, 12079, 3558, 3400, 1183, 614,...         0
       1  [29710, 566, 27, 5418, 17038, 70, 14993, 7535,...         1
       2  [29710, 566, 27, 3656, 386, 4103, 16965, 30457...         1
       3  [29710, 566, 27, 329, 28938, 273, 12482, 2891,...         1
       4  [29710, 566, 27, 28787, 3416, 18492, 4832, 407...         0

          pred_hard_label   acc                                     logits  \
strong 0                0  True  [1.8551090955734253, -1.8551099300384521]
       1                1  True   [-1.036962866783142, 1.0369631052017212]
       2                1  True   [-0.8520811200141907, 0.852081298828125]
       3                1  True  [-1.0647871494293213, 1.0647872686386108]
       4                0  True  [1.7307255268096924, -1.7307263612747192]

                                          soft_label
strong 0   [0.9761124849319458, 0.02388758584856987]
       1    [0.1116570234298706, 0.8883429169654846]
       2     [0.1539224088191986, 0.846077561378479]
       3    [0.1062554121017456, 0.8937445878982544]
       4  [0.9695708751678467, 0.030429165810346603]